@media print {
    @page { @bottom-left { font-size: 12px; } }
    @page { @bottom-right { font-size: 12px; } }
    @page :left { @bottom-left-corner { content: counter(page); font-size: 12px; text-align: center; } }
    @page :right { @bottom-right-corner { content: counter(page); font-size: 12px; text-align: center; } }
    @page project :left { @bottom-left { content: string(project-title); } }
    @page project :right { @bottom-right { content: string(project-title); } }
    @page geoformat :left { @bottom-left { content: string(geoformat-title); } }
    @page geoformat :right { @bottom-right { content: string(geoformat-title); } }
    @page post :left { @bottom-left { content: string(post-title); } }
    @page post :right { @bottom-right { content: string(post-title); } }
    @page maps :left { @bottom-left { content: string(map-title); } }
    @page maps :right { @bottom-right { content: string(map-title); } }
    @page markers :left { @bottom-left { content: string(map-title); } }
    @page markers :right { @bottom-right { content: string(map-title); } }
    @page capes :left { @bottom-left { content: string(capes-title); } }
    @page capes :right{ @bottom-right { content: string(capes-title); } }
    @page colophon :left { @bottom-left-corner { content: ''; } }
    @page colophon :right { @bottom-right-corner { content: ''; } }
        
    // Apply basic variables
    .pagedjs_page,
    .pagedjs_cover_page,
    .pagedjs_project_page,
    .pagedjs_post_page,
    .pagedjs_maps_page,
    .pagedjs_markers_page,
    .pagedjs_geoformat_page,
    .pagedjs_capes_page,
    .pagedjs_colophon_page {
        background-color: var(--geoprint-bg-color, '#eeeeee') !important;
        background-image: var(--geoprint-bg-image, 'none') !important;
        background-size: var(--geoprint-bg-size, auto);
        background-position: var(--geoprint-bg-position, center);
        background-repeat: repeat;
        color: var(--geoprint-text-color);
        font-family:var(--geoprint-font-family);
        font-size: var(--geoprint-font-size);
        font-weight:var(--geoprint-font-weight);
        line-height: var(--geoprint-line-height);
        text-align: var(--geoprint-text-align);
        page-break-before: always;
        word-break: break-word;
        h1, h2, h3, h4, h5, h6 {
            font-family: var(--geoprint-heading-family);
        }
        h1 {
            font-size: var(--geoprint-h1-size);
            writing-mode: var(--geoprint-title-orientation, 'horizontal-tb');
        }
        h2 {
            font-size: var(--geoprint-h2-size);
        }
        h3 {
            font-size: var(--geoprint-h3-size);
        }
        h4 {
            font-size: var(--geoprint-h4-size);
        }
        h5 {
            font-size: var(--geoprint-h5-size);
        }
        h6 {
            font-size: var(--geoprint-h6-size);
        }
        a {
            color: var(--geoprint-link-color);
        }
        section {
            columns: var(--geoprint-columns);
        }
    }
    .cover-title {
        margin: var(--cover-title-margin-top, 0) var(--cover-title-margin-right, 0) var(--cover-title-margin-bottom, 0) var(--cover-title-margin-left, 0)
    }
    .cover-subtitle {
        margin: var(--cover-subtitle-margin-top, 0) var(--cover-subtitle-margin-right, 0) var(--cover-subtitle-margin-bottom, 0) var(--cover-subtitle-margin-left, 0)
    }
    .project-title {
        margin: var(--project-title-margin-top, 0) var(--project-title-margin-right, 0) var(--project-title-margin-bottom, 0) var(--project-title-margin-left, 0)
    }
    .project-content {
        margin: var(--project-content-margin-top, 0) var(--project-content-margin-right, 0) var(--project-content-margin-bottom, 0) var(--project-content-margin-left, 0)
    }
    .project-title,
    .project-content,
    .project-owner {
        span {
            background-color: var(--geoprint-bg-color-rgb, '#eeeeee') !important;
        }
    }
    .pagedjs_pagebox {
        z-index: 0; // Fix for background images index
    }
    #pagedjs-source {
        display: none;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    figure {
        margin: 1.5rem 0;
        max-width: 100%;
        figcaption {
            font-size: smaller;
            font-style: italic;
        }
    }
    blockquote {
        border-left: 4px solid currentColor;
        font-size: larger;
        font-style: italic;
        margin: 1.5rem 0;
        position: relative;
        padding: 12px;
        margin: 24px;
        break-inside: avoid;
        p {
            margin-top: 0;
        }
    }
    .map-container {
        break-inside: avoid;
        border: 4px solid black;
        min-height: 100mm;
        width: 100%;
    }
    .image-grid {
        break-inside: avoid;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    .background-cover {
        height: var(--pagedjs-height);
        margin: 0;
        max-width: none;
        position: absolute;
        top: calc(-1 * var(--pagedjs-margin-top));
        left: calc(-1 * var(--pagedjs-margin-left));
        width: var(--pagedjs-width);
        z-index: -1;
        img {
            height: 100%;
            object-fit: cover;
            position: relative;
            width: auto;
        }
        .overlay {
            background-image: linear-gradient(to top, white , transparent 45%);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    // Cover styles
    .cover {
        page: cover;
        display: flex;
        height: 100%;
        flex-direction: column;
    }
    .cover-url {
        font-size: 12px;
        margin-top: auto;
        text-align: center;
    }

    // Project styles
    .project {
        page: project;
        display: flex;
        flex-direction: column;
        height: 100%;
        string-set: project-title attr(data-title)
    }
    .pagedjs_project_first_page {
        background-repeat: no-repeat;
        .pagedjs_margin-bottom-left .pagedjs_margin-content:after { content:"" !important;}
        .pagedjs_margin-bottom-right .pagedjs_margin-content:after { content:"" !important;}
    }

    .project-header {
        margin-top: auto;
    }
    .project-owner {
        margin-top: auto;
    }

    // Post styles
    .post {
        page: post;
        break-before: always;
        string-set: post-title attr(data-title)
    }

    // Maps styles
    .maps {
        page: maps;
        string-set: map-title attr(data-title);
        .map-container {
            transform: rotateZ(var(--geoprint-maps-orientation, '0deg'));
            transform-origin: center;
        }
    }

    // Markers styles
    .marker {
        page: markers;
        break-inside: avoid;
        break-before: left;
        h2 {
            page-break-after: always;
        }
    }
    .marker-data {
        font-size: small;
        display: flex;
        flex-wrap: wrap;
        & > span {
            margin-right: 8px;
        }
    }
    .leaflet-marker-icon {
        width: auto !important;
    }
    
    // Capes styles
    .capes {
        page: capes;
        string-set: capes-title attr(data-title)
    }

    // Geoformat styles
    .geoformat {
        break-before: left;
        height: 100%;
        page: geoformat;
        string-set: geoformat-title attr(data-title);
        .subline {
           font-size: larger;
        }
        .chapo {
            font-style: italic;
        }
        figure {
            break-after: always;
        }
    }
    .pagedjs_geoformat_first_page {
        background-repeat: no-repeat;
        .pagedjs_margin-bottom-left .pagedjs_margin-content:after { content:"" !important;}
        .pagedjs_margin-bottom-right .pagedjs_margin-content:after { content:"" !important;}
    }
    .geoformat-cover {
        display: flex;
        flex-direction: column;
        height: 100%;
        page-break-after: always;
        h1 {
            margin-top: auto;
        }
    }
    .geoformat-intro {
        page-break-before: always;
        page-break-after: always;
    }
    .geoformat-section {
        break-before: left;
    }
    @page geoformat:left {
        @top-left-corner { content: ""; border-left: 16px solid var(--geoprint-border-color) ;}
        @left-middle  { content: ""; border-left: 16px solid var(--geoprint-border-color) ;}
        @left-top { content: ""; border-left: 16px solid var(--geoprint-border-color) ;}
        @left-bottom { content: ""; border-left: 16px solid var(--geoprint-border-color) ;}
        @bottom-left-corner { content: counter(page); border-left: 16px solid var(--geoprint-border-color) ;}
    }
    @page geoformat:right {
        @top-right-corner { content: ""; border-right: 16px solid var(--geoprint-border-color) ;}
        @right-middle  { content: ""; border-right: 16px solid var(--geoprint-border-color) ;}
        @right-top { content: "Geoformat"; border-right: 16px solid var(--geoprint-border-color) ;}
        @right-bottom { content: ""; border-right: 16px solid var(--geoprint-border-color) ;}
        @bottom-right-corner { content: counter(page); border-right: 16px solid var(--geoprint-border-color) ;}
    }
    .pagedjs_margin-right-top {
        .pagedjs_margin-content::after {
            font-size: 12px;
            margin-left: calc(var(--pagedjs-margin-right) - 15px);
            text-transform: uppercase;
            writing-mode: vertical-lr;
        }
    }
    .colophon {
        break-before: always;
        display: flex;
        flex-direction: column;
        height: 100%;
        page: colophon;
        .content {
            margin-top: auto;
        }
    }
}

